DATABASE_URL=postgresql://postgres.yguztxepfnjccbvwzttj:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
SUPABASE_PROJECT_REF=yguztxepfnjccbvwzttj
